# Node modules
**/node_modules/

# Build output
**/dist/
**/build/
frontend_build/

# Env files
**/.env
**/.env.local
**/.env.*.local
/act

# System
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
zip
todo

/terraform