# Node modules
node_modules
npm-debug.log
yarn-error.log

# Ignore build outputs
dist
.tmp
.tmp/
.cache
.cache/
coverage/
*.log
*.tsbuildinfo

# System / IDE
.DS_Store
.idea
.vscode
*.swp
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose*.yml

# Logs
logs
*.log

# Ignore test results
*.spec.ts
jest-cache/
jest-results.json