# ===========================
# Node & Package Management
# ===========================
node_modules/
npm-debug.log
yarn-error.log

# ===========================
# Build & Cache Outputs
# ===========================
dist/
.cache/
.tmp/
coverage/
*.tsbuildinfo
*.log

# ===========================
# Public Assets prone to timestamp changes
# ===========================
public/*.png
public/*.jpg
public/*.jpeg
public/*.gif
public/*.svg
public/*.ico
public/*.webp
public/*.map
public/*.json

# ===========================
# Tests & Jest
# ===========================
*.spec.ts
jest-cache/
jest-results.json

# ===========================
# Env Files
# ===========================
.env
.env.local
.env.*.local
**/.env*

# ===========================
# IDE / OS / Temp Files
# ===========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# ===========================
# Git & Docker
# ===========================
.git/
.gitignore
Dockerfile
docker-compose*.yml

# ===========================
# Logs
# ===========================
logs/
*.log
